<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homework.mapper.UserMapper">

    <resultMap id="UserResult" type="com.homework.entity.User">
        <id property="id" column="id"/>
        <result column="username" property="username"/>
    </resultMap>
    <resultMap id="UserResult1" type="com.homework.entity.User">
        <id property="id" column="id"/>
        <result column="password" property="password"/>
    </resultMap>


    <!--根据姓名查询用户-->
    <select id="findByName" parameterType="String" resultType="com.homework.entity.User">
        select id,username,password,email from user where username=#{username}
    </select>

</mapper>
